@import '../variables';

.top-bar {
  margin-top: 2rem;

  .logo {
    max-width: 18rem;
  }

  .cta-call-us {
    float: right;
    margin-top: 1rem;
    @media (max-width: $screen-sm-min) {
      float: none;
      line-height: .5;
      margin-top: 2rem;
      text-align: center;
    }
  }
}
